
/*Google Fons       recomendable realizar la importacion del mismo archivo .css */


@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap');







/*bootstrap Iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");




/*Para resetear*/
*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;
        
    text-decoration: none;
    list-style: none;

    /*
        outline: 1px solid red;  
    */
   


    -webkit-box-sizing: border-box;
}



html,
body{

    /*Estilo 1 de parrafo*/
font-family: "Montserrat", sans-serif;

    /*
    background-color: var(--colorEstilo2);
    */

    

    /*desplazamieento suave cuando se usa navevacion por ancla*/
    scroll-behavior: smooth;

}




/*Estilos generales*/
:root{

    --colorEstilo1:#000000;       
    --colorEstilo2:#0f1113;
    --colorEstilo3:#252422;
    --colorEstilo4:#020004;
    --colorEstilo5:#1c1c1d;
    --colorEstilo6:#212529;
    --colorEstilo7:#222222;
    --colorEstilo8:#111111;
    --colorEstilo9:#0B0D0E;
    --colorEstilo10:#131617;
    --colorEstilo11:#2d2d43;
    --colorEstilo12:#212425;
    --colorEstilo13:#2e2e2e;
    --colorEstilo14:#0d1326;    
    --colorEstilo15:#212121;
    --colorEstilo16:#2f2f2f;    
    --colorEstilo17:#333333;

    --colorEstilo18:#353636;
    --colorEstilo19:#403F40;
    --colorEstilo20:#3c3c3c;
    --colorEstilo21:#403b3b;
    --colorEstilo22:#404040;
    --colorEstilo23:#444444;
    --colorEstilo24:#7b7b7c;
    --colorEstilo25:#5d5d5d;
    --colorEstilo26:#4D4D4D;
    --colorEstilo27:#888888;    
    --colorEstilo28:#6C757D;
    --colorEstilo29:#999999;
    --colorEstilo30:#777777;
    --colorEstilo31:#979797;
    --colorEstilo32:#aaaaaa;
    --colorEstilo33:#b5b5b5;  
    --colorEstilo34:#ababab;    
    --colorEstilo35:#cccccc;
    --colorEstilo36:#d1cebd;   


    --colorEstilo37:#eeeeee;
    --colorEstilo38:#efefef;
    --colorEstilo39:#F9F9F9;
    --colorEstilo40:#F8F9FA; 
    --colorEstilo41:#e6ebff;
    --colorEstilo42:#f0f0f0;
    --colorEstilo43:#FAF5F1;
    --colorEstilo44:#FCF7F5;
    --colorEstilo45:#f7f7f7;
    --colorEstilo46:#f5f5f5;
    --colorEstilo47:#ffffff;


    --colorEstilo48:#fef8ee;
    --colorEstilo49:#FAFAFB;
    --colorEstilo50:#f1fcf2;    
    --colorEstilo51:#f6f6f6;


    
    --colorEstilo52:#380D62;
    --colorEstilo53:#f2e9fe;
    --colorEstilo54:#4D4D4D; 
    

    --colorEstilo55:#C4BFB1; 

    --colorEstilo56:#4C6FE1;
    --colorEstilo57:#3C3456;


    --texto1: "Montserrat", sans-serif;
    --texto2: "Squada One", sans-serif;
    --texto3: "Allura", cursive;


}


/******************************************/
/*proyecto1*/
section.contenedor_banner{
    margin-top: 70px;    
}



/******************************************/
/*proyecto1*/
div.s1__lado1 div.s1lado1__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    gap: 20px;

}

div.s1_lado2  figure img{
    max-width: 100%;
    height: auto;
}

img.logosize{
    width: 20%;
}


/******************************************/
/*proyecto2*/
section.contenedor__s2 div.container div.s2_row1{
    background-color: var(--colorEstilo52);
}

section.contenedor__s2 div.container div.s2_row2{
    background-color: var(--colorEstilo52);
}


div.s2__lado1 div.s2lado1__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    gap: 20px;
}

div.s2_lado2  figure img{
    max-width: 100%;
    height: auto;
}

div.s2_row4{
    background-color: var(--colorEstilo53);
}


div.s2row4__lado2 div.s2row4lado2__pasos{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
    gap: 10px;
}



/******************************************/
/*proyecto3*/
div.s3_row2 div.s3row2__cabecera h2.s3row2__titulo1
{
    font-family: var(--texto2);
    color: var(--colorEstilo55);
}

div.s3_row2 div.s3row2__cabecera p.s3row2__subtitulo
{
    font-family: var(--texto3);
    color: var(--colorEstilo47);
}

.logosize2{
    max-width: 100%;
}

div.row div.shop div.s3row__oferta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


/******************************************/
/*proyecto4*/
div.s4_row2 div.s4row2__lado2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}


/******************************************/
/*proyecto5*/
section.contenedor__s5 div.s5row4__lado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

section.contenedor__s5 div.s5row4__lado2 ol li.list-group-item
{
    border: none;
    background-color: var(--colorEstilo40);
}


/******************************************/
/*proyecto6*/
div.container div.s6_row2{
    background-image: url("../imagenes/seccion6-1.png");
}

div.container div.s6_row2 div.s6row2__lado1 h2{
    color: var(--colorEstilo57);
}

div.container div.s6_row2 div.s6row2__lado1 h2 span{
    color: var(--colorEstilo56);
}

div.container div.s6_row2 div.s6row2__lado1 button{
    background-color: var(--colorEstilo56);
    color: var(--colorEstilo47);
}

div.container div.s6_row2 div.s6row2__lado1 button:hover{
    background-color: var(--colorEstilo57);
    transition: all 0.3s ease-in;
}


div.container div.s6_row2 div.s6row2__lado1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


section.contenedor__s6 div.container div h6{
    color: var(--colorEstilo56);
}

section.contenedor__s6 div.container div h3{
    color: var(--colorEstilo57);
}

div.s6row3lado2__texto ol li{
        border: none;
}


div.s6row3lado2__texto ol li i{
    background-color: var(--colorEstilo56);
    color: var(--colorEstilo47)!important;

}


div.s6_row4 div.card-body button{
    background-color: var(--colorEstilo56);
    color: var(--colorEstilo47)!important;
    font-size: 10px;
    margin-top: -60px;
}

img.user{
    width: 50px;
}




/*Adaptable (Responsive)*/

@media screen and (max-width: 768px)
{

    div.carousel-caption h5{
        font-size: 1rem;
    }

    div.carousel-caption p{
        font-size: 0.7rem;
    }

}


@media screen and (max-width: 576px)
{

    div.s5_row2 div.s4row2__cabecera button.btn{
        width: 50%!important;
    }

}


